body{
    margin: 0px;
    padding:0px;
}
.icon{
 background-color: #005eb8;
padding: 15px 150px;
 font-family: sans-serif;
 display: flex;
 color: white;
 

 
}


body
{
    background-color:white;
}
.logo
{
    width:200px;
    /* margin: 35px 35px; */
    size: 50px;
    float:left;
    padding-left:150px;
    background-color: white;
    margin: 20px 50px 25px 30px;
    
}
.name1
{
    justify-content: end;
    width: 35%;
    display: flex;
    padding-left: 37%;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    
}
.name1:hover
{
    text-decoration: underline;
}
/* #menu
{
    width: 100%;
    height:25px;
    border: 1px solid blue;
} */
#menu ul{
    float: right;

    background-color: white;
}
#menu ul li{
    display: inline;
    padding: 40px;
}
#menu ul li a{
    line-height: 80px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    padding-left: 30px;
    margin-top: 30px;
    font-family:Arial, sans-serif;
    


}


.position{
    position: relative;
    left: -200px;
}
/* .content-wrapper
{
    width:80%;
    margin: 10% 10% 5% 10%;
} */
.content-wrapper img{
    width:100%;
    height:460px;
    
}
.text-wrapper{
    padding-left: 200px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size:15px;
    font-weight: lighter;
    text-align: center;
    color: white;
    top: 28%; 
}
p{
    padding-left: 95px;
    padding-top: 150px;
    /* line-height: 150%; */
    font-family: Arial,sans-serif;
    font-size: 20px;
    text-align: center;
    color: white;
    top:53%
}
.btn{
    position:absolute;
  top: 75%;
  left: 50%;
  transform: translate(-38%, -20%);
  /* -ms-transform: translate(-50%, -50%); */
  color: white;
  font-size: 1.4rem;
  padding: 24px 35px;
  border-width: 100px;
  cursor: pointer;
  /* border: 5px; */
  font-weight: bold;
  border: solid 3px;
  background:url(hydra.jpg);
  
}
.btn:hover{
    background-color: white;
    color: #005eb8;
    border: none;
}
.strong{
    padding-left: 1000px;
    margin: 70px  -180px;
    
}
.strong1{
    
    padding-left: 120px;
    font-size:15px;
    font-family:var(--header--font--medium,Arial,sans-serif);
    line-height:50px;
    bottom: 100px;
    margin-top: 40px;
    text-align:left;
    box-sizing: border-box;
    font-style: normal;
    font-weight: normal;
}
.strong2{
    
    position:relative;
    padding-bottom: 20px;
    padding-left:2px;
    line-height:30px;
    font-size: 16px;
    
 }
  .img  
{ 
     float:right; 
     position: relative;
     left: -62px;
     bottom: 504px; 
     

 } 
 .text
 {
     padding-left: 30px;
 }
.but
{
    padding-left: 8px;
    position:relative;
    transform: translate(-10%, -315%);
     left: 71%;
     border: 3px solid #005eb8;
     color: #005eb8;
     background-color: white;
     cursor: pointer;
     
     height: 10px;
     bottom: 12px;
     font-size: 20px;
     line-height: 1px;
     width: 224px;
     padding:37px 32px;
    
}
.but:hover{
    background-color:#005eb8;
    color:white;
    border: none;
}
.creator
{
    background-color: #f8f8f8;
    box-sizing: border-box;
    height: 250px;
    padding-left: 170px;
    transform: translate(1px,-333px);
    position: relative;

    
}
.creator1
{
    
    transform: translate(-33px, 56px);
}
.creator h1{
    padding-left: 50px;
    line-height: 0px;
    margin-bottom: 10px;
    
}
.creator h5{
    padding-left: 52px;
    line-height: 25px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.faq
{
    padding-left: 8px;
    position:relative;
    transform: translate(0%, -94%);
     left: 71%;
     border: 3px solid #005eb8;
     color: #005eb8;
     background-color: white;
     cursor: pointer;
     
     height: 1px;
     bottom: 12px;
     font-size: 14px;
     line-height: 0px;
     width: 227px;
     padding:66px 26px;
    
}
.faq:hover
{
    background-color:#005eb8;
    color:white;
    border: none;
}
.grid
{
    display: grid;
    margin-bottom: 200px;
    padding: 2px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1em;
    grid-auto-rows: minmax(340px,auto);
}
.con1
{
    border: 2px solid white;
    background-color: white;
    padding: 10px;
    
}
.con4
{
    height: 10px;
    width: 316px;
    background-color:#eef0f2;
    transform: translate(136px,-26px);
}
.con4 h1{
    padding-left: 10px;
    transform: translate(-6px,31px);
    font-size: 31px;
    font-family: Arial, Helvetica, sans-serif;
}
.con4 h5{

    transform: translate(1px, 24px);
    font-size: 15px;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.con2
{
    height: 10px;
    width: 325px;
    background-color:#eef0f2;
    transform: translate(29px,8px);
}
.con5
{
    height: 240px;
    width: 74%;
    transform: translate(-423px,40px);
}

.con3
{
    height: 11px;
    width: 313px;
    background-color:#eef0f2;
    transform: translate(827px,-499px);
}
.con7
{
  padding-top: 6px;
  color: inherit;
  font-weight: 500;
  font-family: Arial, Helvetica,  sans-serif;

}
.con7 h5{
    font-size: 17px

}
.da
{

    padding-left: 8px;
    position:relative;
    transform: translate(-73%, 75%);
     left: 62%;
     border: 3px solid #005eb8;
     color: #005eb8;
     background-color: white;
     cursor: pointer;
     
     height: 13px;
     bottom: -17px;
     font-size: 24px;
     line-height: 0px;
     width: 262px;
     padding:35px 26px;
    
}
.da:hover
{
    background-color:#005eb8;
    color:white;
    border: none;
}
.mark
{
    padding-left: 8px;
    position:relative;
    transform: translate(-73%, 75%);
     left: 62%;
     border: 3px solid #005eb8;
     color: #005eb8;
     background-color: white;
     cursor: pointer;
     
     height: 13px;
     bottom: 70px;
     font-size: 19px;
     line-height: 0px;
     width: 262px;
     padding:35px 26px;

}
.mark:hover
{
    background-color:#005eb8;
    color:white;
    border: none;
    
}
.con8 h5
{
    font-size: 18px;
    padding-top: 98px;
}

.git
{
    padding-left: 8px;
    position:relative;
    transform: translate(-97%, 208%);
     left: 62%;
     border: 3px solid #005eb8;
     color: #005eb8;
     background-color: white;
     cursor: pointer;
     
     height: 18px;
     bottom: 70px;
     font-size: 19px;
     line-height: 0px;
     width: 198px;
     padding:35px 26px;

 }
 .git:hover
 {
    background-color:#005eb8;
    color:white;
    border: none;
    
 }
 .con10
 {
     font-size: 18px;
     transform: translate(-220px,183px);
     line-height: 25px;
 }
 .opener
 {
    background-color: #f8f8f8;
    box-sizing: border-box;
    height: 495px;
    padding-left: 170px;
    transform: translate(1px,-333px);
    position: relative;
 }
 .grid1
 {
    display: grid;
    
     margin-bottom: 100px; 
    padding: 2px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1em;
    grid-auto-rows: minmax(100px,auto);

 }
 .zip
 {
    height: 10px;
    width: 325px;
    background-color:#eef0f2;
    transform: translate(23px,64px);
    
    
 }

 .zip1
 {
     font-style: italic;
     font-size: 34px;
     line-height: 54px;
     color: #98a4ae;
     font-family: Arial, Helvetica, sans-serif;
     padding-left: 31px;
     transform: translate(-387px,77px);
 }
 .zip3
 {
     box-sizing: border-box;
     border-left: 10px;
     background-color: #005eb8;
     height: 261px;
     width: 9px;
     transform: translate(-785px,86px);
 }
 .grid2
 {
    height: 10px;
    width: 325px;
    background-color:#eef0f2;
    transform: translate(388px,-35px);
    list-style-type: none;
 }
 .zip4
 {
     font-size: 12px;
     list-style: none;
     padding-left: 0px;
     line-height: 40px;
     transform: translate(-137px,34px);
     cursor: pointer;
     
 }
 .zip4:hover
 {
     text-decoration: underline;
     
 }
 .grid3
 {
    height: 10px;
    width: 325px;
    background-color:#eef0f2;
    transform: translate(751px,-209px);
    list-style-type: none;
 }
 .zip5
 {
    font-size: 12px;
     list-style: none;
     padding-left: 0px;
     line-height: 40px;
     transform: translate(-65px,34px);
     list-style-type: none;
 }
 .grid4
 {
    display: grid;
    margin-bottom: 200px;
    padding: 2px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1em;
    grid-auto-rows: minmax(100px,auto);
    
 }
 .hep4
 {
     position: relative;
     float: left;
     padding-left: 20px;
 }
 .hep1 p
 {
     padding-left:0%;
     padding-top:0%;
     line-height: 0%;
     transform: translate(-55px,-25px);
 }
 .hep2 p
 {
     padding-left:0%;
     padding-top:0%;
     line-height: 0%;
     transform: translate(-89px,-23px);
 }
 .hep3 p
 {
    padding-left:0%;
     padding-top:0%;
     line-height: 0%;
     transform: translate(-139px,-24px);
 }
 .grid-container{
    display: grid;
    grid-template-columns: auto 450px ;
    
    padding: 0px;
    
    height: 500px;
  }
.grid-item1
{
    background-color: #f8f8f8;
    text-align: justify;

}
.gin
{
    
    position:relative;
    transform: translate(-150%, -9%);
     left: 62%;
     border: 3px solid #005eb8;
     color: #005eb8;
     background-color: white;
     cursor: pointer;
     
     height: 13px;
     bottom: -17px;
     font-size: 21px;
     line-height: 0px;
     width: 262px;
     padding:35px 26px;
     font-weight: 700;
     
}
.gin:hover
{
    background-color:#005eb8;
    color:white;
    border: none;
    
}
.semi1
{
    width: 100%;
    height: 7px;
    background-color:#f8f8f8;

}


.semi
{
    width: 100%;
    height: 7px;
    background-color:#f8f8f8;
}

.grid-container1
{
    display: grid;
    grid-template-columns: auto auto auto;
    height: 500px;
    background-color: #005eb8;
    width: 100%;
    transform: translate(0px,41px);
    grid-column-gap: 1em;
}
.grid-item3
{
    width: 70%;
    height: 10px;
    background-color:#f8f8f8;
    transform: translate(152px,77px);
    font-size: 12px;
    line-height: 45px;
    color: white;
    font-family: Arial, sans-serif;
}
/* .semi2 p
{
    padding-left: 0px;
    font-family: Arial,  sans-serif;
    font-size: 20px;
    text-align: center;
    color: white; */
 .semi3 
 {
    content:none;
    padding-left: 10px;
    padding-bottom: 20px;
    font-size: 16px;
    line-height: 34px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
 }
 /* .semi4 */
 /* { */
     /* list-style-type: ; */
     /* font-size: 20px; */
     /* height: 10px;
     width: 10px;
     border-radius: 2px solid red; */
     /* background-color: white; */
 .grid-item4
 {
    /* width: 316px; */
    height: 10px;
    background-color:#f8f8f8;
    margin-top: 77px;
    transform: translate(-4px,-1px);
    font-size: 12px;
    /* line-height: 25px; */
    color: white;
    font-family: Arial, sans-serif;
 }
 .grid-item5
 {
    height: 10px;
    background-color:#f8f8f8;
    margin-top: 77px;
    transform: translate(-66px,-1px);
    color: white;
    font-family: Arial,sans-serif;
    font-size: 12px;
 }
 .semi5
 {
    content:none;
    padding-left: 20px;
    padding-bottom: 20px;
    font-size: 16px;
    line-height: 34px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    
 }
 .geo
 {
     font-size: 17px;
     padding-top: 38px;
    padding-left: 152px;
    font-family: sans-serif;
     font-weight: 100; 
    
 }
 .grid-container2
{
    display: grid;
    grid-template-columns: 440px 440px 440px;
    height: 500px;
    
    width: 100%;
    transform: translate(0px,41px);
    grid-column-gap: 0.5em;
}

/* .grid-item6
{
    display: flex;
}
.zoom
{
    height: 80px;
    width: 80px;
    padding-left: 166px;
    padding-top: 46px;
}
.zoom1
{
    font-size: 23px;
    padding-top: 47px;
    padding-left: 23px;
    font-family: sans-serif;
    font-weight: 600;
    color: #005eb8;
    cursor: pointer;
}
.zoom1:hover
{
    text-decoration: underline;

}
.zoom2
{
    font-size: 19px;
    display: flex;
    font-family: Arial, sans-serif;
    font-weight: 100;
    padding-top: 84px;
    transform: translate(-181px);
    line-height: 27px;
}
.grid-item7
{
    display: flex;
}
.zoom3
{
    height: 70px;
    width: 71px;
    padding-left: 487px;
    transform: translate(47px,-126px);
}
.zoom4
{
    font-size: 23px;
    font-family: sans-serif;
    font-weight: 600;
    color: #005eb8;
    padding-left: 69px;
    transform: translate(9px,-131px);
    cursor: pointer;
}
.zoom4:hover
{
    text-decoration: underline;
}
.zoom5
{
    font-size: 19px;
    display: flex;
    font-family: Arial, sans-serif;
    font-weight: 100;
    line-height: 28px;
    transform: translate(-219px,-94px);
}
.grid-item8
{
    display: flex;
}
.zoom6
{
    height: 70px;
    width: 71px;
    padding-left: 949px;
    transform: translate(-40px,-245px);
}
.zoom7
{
    font-size: 23px;
    display: flex;
    font-family: sans-serif;
    font-weight: 600;
    color: #005eb8;
    transform: translate(-12px,-238px);
    white-space: nowrap;
}
.zoom8
{
    font-size: 19px;
    display: flex;
    font-family:Arial,sans-serif ;
    font-weight: lighter;
    line-height: 28px;
    transform: translate(-210px,-199px);
    white-space: nowrap;
}
.grid-item9
{
    display: flex;
}
.zoom9
{

    height: 70px;
    width: 71px;
    padding-left: 150px;
    padding-top: 0px;
    transform: translate(10px,-88px);
}
.zoom10
{
    font-size: 23px;
    display: flex;
    font-family: sans-serif;
    font-weight: 600;
    color: #005eb8;
    transform: translate(45px,-77px);
    line-height: 40px;
}
.zoom11
{
    font-size: 19px;
    font-family: Arial,sans-serif;
    font-weight: 100;
    line-height: 28px;
    padding-top: 23px;
    transform: translate(-91px,-18px);
}
.grid-item10
{
    display: flex;
}
.zoom12
{
    height: 70px;
    width: 71px;
    padding-left: 577px;
    transform: translate(-40px,-187px);

}
.zoom13 
{
    font-size: 23px;
    display: flex;
    font-family: sans-serif;
    font-weight: 600;
    color: #005eb8;
    transform: translate(-9px,-178px);
    cursor: pointer !important;
}
.zoom13:hover
{
   text-decoration: underline !important;

}
a:link{
    cursor: pointer !important;
    text-decoration: none !important;
}
a:hover {
    text-decoration: underline !important;
}
.zoom14
{
    font-size: 19px;
    font-family: Arial,sans-serif;
    font-weight: 100;
    line-height: 28px;
    transform: translate(-180px,-140px);
}
.hover{
    text-decoration: underline !important;
    cursor: pointer !important;
}
.zoom13:hover {
    text-decoration: underline;
}
.hover :hover{
    text-decoration: none !important;
}
.grid-item11
{
    display: flex;
}
.zoom15
{
    height: 70px;
    width: 71px;
    padding-left: 950px;
    transform: translate(-35px,-290px);
}
.zoom16
{
    font-size: 23px;
    display: flex;
    font-family: sans-serif;
    font-weight: 600;
    color: #005eb8;
    transform: translate(-5px,-290px);
    white-space: nowrap;
}
.zoom17
{
    font-size: 19px;
    font-family: Arial,sans-serif;
    font-weight: 100;
    line-height: 28px;
    transform: translate(-241px,-251px);
    white-space: nowrap;
}

.grid-container4
{
display: grid;
    grid-template-columns: 450px auto;
    height: 300px;
    width: 100%;
    transform: translate(0px,-183px);
    
}
.grid-item13
{
    background-color: #005eb8;

}
.zoom18
{
    color: white;
    padding-left: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    
    transform: translate(10px,85px);
}
.zoom19
{
    color: white;
    padding-left: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    display: flex;
    line-height: 30px;
    transform: translate(1px,105px);
}
.zoom20
{
    
    position:relative;
    transform: translate(-9%, -296%);
     left: 10%;
     border: 3px solid white;
     color: white;
     background-color: #005eb8;
     cursor: pointer;
     
     height: 10px;
     bottom: -373px;
     font-size: 23px;
     line-height: 1px;
     width: 209px;
     padding:37px 32px;
     font-weight: 600;
} */
.zoom
{
    display: flex;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}
.zoom1
{
    width: 33.33%;
    display: flex;
}
.zoom2
{
    height: 73px;
    width: 71px;
    /* padding-left: 106%; */
    padding-top: 10px;
}
.zoom3
{
    font-size: 23px;
    font-family: sans-serif;
    font-weight: 600;
     color: #005eb8;
     /* padding-left: 35%; */
     padding-top: 10%;
     cursor: pointer;
}
.zoom3:hover
{
    text-decoration: underline;
}
.contain{
    
    width: 30%;
    padding-top: 20px;
}
.contain1
{
    width: 70%;
    flex-direction: column;
    display: flex;
}
.zoom4
{
    font-size: 19px ;
    line-height: 28px;
    font-family: Arial, sans-serif;
    font-weight: 100;
    padding-top: 4%;
    /* padding-left: 35%; */
}

.zoom5
{
    width: 33.33%;
    display: flex;

}
.contain2
{
    width: 30%;
    padding-top: 20px;
}
.zoom6
{
    height: 73px;
    width: 71px;
    /* padding-left: 46%; */
    padding-top: 10px;
}
.contain3
{
    width: 70%;
    flex-direction: column;
    display: flex;
}
.zoom7
{
    font-size: 23px;
    font-family: sans-serif;
    font-weight: 600;
     color: #005eb8;
     /* padding-left: 10%; */
     padding-top: 10%;
     cursor: pointer;
}
.zoom7:hover
{
    text-decoration: underline;
}
.zoom8
{
    font-size: 19px ;
    line-height: 28px;
    font-family: Arial, sans-serif;
    font-weight: 100;
    padding-top: 4%;
    /* padding-left: 10%;    */
}
.zoom9
{
    width: 33.33%;
    display: flex;
}
.contain4
{
    width: 30%;
    padding-top: 20px;
}
.zoom10
{
    height: 73px;
    width: 71px;
    /* padding-left: 1%; */
    padding-top: 10px;
}
.contain5
{
    width: 70%;
    flex-direction: column;
    display: flex;
}
.zoom11
{
    font-size: 23px;
    font-family: sans-serif;
    font-weight: 600;
     color: #005eb8;
     /* padding-left: 1%; */
     padding-top: 10%;
     cursor: pointer;   
}
.zoom11:hover
{
    text-decoration: underline;
}
.zoom12
{
    font-size: 19px ;
    line-height: 28px;
    font-family: Arial, sans-serif;
    font-weight: 100;
    padding-top: 4%;
    /* padding-left: 0%;    */
}
.zoomer
{
  display: flex;
  margin-right: auto;
    margin-left: auto;
    width:80%
}
.zoom13
{
    width: 33.33%;
    display: flex;

}
.contain6
{
    width: 30%;
    padding-top: 20px;
}
.zoom14
{
    height: 73px;
    width: 71px;
    /* padding-left: 105%; */
    padding-top: 10px;
}
.contain7
{
    width: 70%;
    flex-direction: column;
    display: flex;
}
.zoom15
{
    font-size: 23px;
    font-family: sans-serif;
    font-weight: 600;
     color: #005eb8;
     /* padding-left: 35%; */
     padding-top: 10%;
     cursor: pointer;
}
.zoom15:hover
{
    text-decoration: underline;
}
.zoom16
{
    font-size: 19px ;
    line-height: 28px;
    font-family: Arial, sans-serif;
    font-weight: 100;
    padding-top: 4%;
    /* padding-left: 34%;    */
}
.zoom17
{
    width: 33.33%;
    display: flex;

}
.contain8
{
    width: 30%;
    padding-top: 20px;
}
.zoom18
{
    height: 73px;
    width: 71px;
    /* padding-left: 105%; */
    padding-top: 10px;
}
.contain9
{
    width: 70%;
    flex-direction: column;
    display: flex;
}
.zoom19
{
    font-size: 23px;
    font-family: sans-serif;
    font-weight: 600;
     color: #005eb8;
     /* padding-left: 35%; */
     padding-top: 10%;
     cursor: pointer;
}
.zoom19:hover
{
    text-decoration: underline;
}
.zoom20
{
    font-size: 19px ;
    line-height: 28px;
    font-family: Arial, sans-serif;
    font-weight: 100;
    padding-top: 4%;
    /* padding-left: 34%;    */
}
.zoom21
{
    width: 33.33%;
    display: flex;

}
.contain10
{
    width: 30%;
    padding-top: 20px;
}
.zoom22
{
    height: 73px;
    width: 71px;
    /* padding-left: 105%; */
    padding-top: 10px;
}
.contain11
{
    width: 70%;
    flex-direction: column;
    display: flex;
}
.zoom23
{
    font-size: 23px;
    font-family: sans-serif;
    font-weight: 600;
     color: #005eb8;
     /* padding-left: 35%; */
     padding-top: 10%;
     cursor: pointer;
}
.zoom23:hover
{
    text-decoration: underline;
}
.zoom24
{
    font-size: 19px ;
    line-height: 28px;
    font-family: Arial, sans-serif;
    font-weight: 100;
    padding-top: 4%;
    /* padding-left: 34%;    */
}
.sub
{
    display: flex;
    margin-top: 7%;
}
.sub1
{
    width: 35%;
    display: flex;
}
.sub2
{
    height: 100%;
    width: 100%;
}
.sub4
{
    width: 65%;
    display: flex;
    background-color: #005eb8;
    /* margin-bottom: 8%; */
    height: 390px;
}
.sub5{
    width: 80%;
}
.sub5 h1
{
    color: white;
    padding-left: 6%;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 7% !important;
}
.sub5 h3{
    line-height: 24px;
    padding-left:6%;
    color: white;
}
.sub6
{

    margin-left: 38px;
    box-sizing: border-box;
    width: 27%;
    height: 20%;
    font-size: 22px;
    border: 3px solid white;
    background-color: #005eb8;
    color: white;
}
.sub6:hover
{
    background-color: white;
    color: #005eb8;
}
.add
{
    width: 100%;
    height: 30px;
    background-color:#f8f8f8;
    padding-top: 10px;
}
.add1
{
    font-size: 15px;
    padding-left: 10%;
    font-family: Arial, Helvetica, sans-serif;
}
.rem
{
    height: 100%;
    width: 100%;
    background-color: #5B6770;
    padding-bottom: 3%;
    display: flex;
}
.rem1{
    width: 39%;
    padding-top: 4%;
    margin-left: 10%;
}
.rem1 h4
{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 100;
    line-height: 20px;
    line-height: 24px;
}
.rem3
{
   width: 20%;
   

}
.rem4
{
    width: 34%;
    
}
.rem5
{
    padding-left: 10%;
    padding-top: 40%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.rem6
{
    line-height: 40px;
    font-size: 19px;
    cursor: pointer;
}
.rem6:hover
{
    text-decoration: underline;
}
.rem7
{
    padding-left: 5%;
    padding-top: 23%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.rem8
{
    line-height: 40px;
    font-size: 19px;
    cursor: pointer;
}
.rem8:hover
{
    text-decoration: underline;
}
.rem9
{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 5%;
    padding-top: 10%;
}
.rem11
{
    margin-right: 15px;
}
.high
{
    width: 100%;
    height: 100%;
    background-color: #333F48;
    padding-bottom: 25px;
    padding-top: 25px;
    display: flex;
}
.high1
{
    width: 15%;
    /* border-right: 1px solid #5B6770; */
}
.high1 h5
{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 70%;
    cursor: pointer;
}
.high1 h5:hover
{
    text-decoration: underline;
}
.high3
{
    
    border-right: 1px solid #5B6770;
}
.high2
{
    width: 21%;
    /* padding-left: 16%; */
}
.high2 h5{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
    cursor: pointer;
}
.high2 h5:hover
{
    text-decoration: underline;
}
.high4
{
    border-right: 1px solid #5B6770;
}
.high5
{
    width: 18%;
}
.high5 h5{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
    cursor: pointer;
}
.high5 h5:hover
{
    text-decoration: underline;
}
.high6
{
    justify-content: end;
    width: 35%;
    display: flex;
}
.high6 h5
{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.high7
{
    position: fixed;
  top: 50%;
  right: 0%;

}